:root {
    --white: #FFFFFF; 
    --secondary-backgraund: #F5F4FA;
    --separator:#ECECEC;
    --grey:#EEEEEE;
    --logo:#4d5ae5;
    --black: #000000; 
    --blue: #2196F3;
    --dark-blue: #188CE8;
    --studio: #2e2f42;
    --darkgrey: #212121; 
    --lightgrey: #757575;
    --primary-backgraund: #2F303A;
    --body: #434455; 
    --CLOUD:#F4F4FD;
    --hover-focus: #404bbf;
    --primary-line-height: 1.19;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--body);
    line-height: var(--primary-line-height);
    background-color: var(--white);
}
a.logo:focus {
    outline: solid var(--blue);
}
a:focus, a:hover {
    outline: none;
    color: var(--blue) !important;
}
header {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--logo);
    vertical-align: middle;
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;

}
.list {
    list-style: none;
}
.primary-color {
    color: var(--studio);
}
.link:focus, .link:hover {
    color: var(--hover-focus);
    
}
.navbar a, .contacts a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--studio);
    text-decoration: none;
    margin-right: 50px;
}
.navbar .active {
    color: var(--blue);
}
.navbar li:last-child a {
    margin-right: 0;
}
header .contacts a:hover {
    color: var(--blue);
}
.mr-50 {
    margin-right: 50px;
}
.mr-15 {
    margin-right: 15px;
}
.white {
    color: var(--CLOUD);
}
header ul {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}

header ul li {
    display: inline-block;
}
main {
    border-top:solid 1px var(--separator);
}
.full-width {
    background-color: var(--primary-backgraund);
    text-align: center;
    color: var(--white);
    padding-top: 200px;
    padding-bottom: 200px;
}

.full-width h1 {
    width: 700px;
    margin: auto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.full-width .order-service {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    height: 50px;
    width: 216px;
    margin: 15px auto 0;
}
.full-width .order-service:hover, .full-width .order-service:focus {
    background-color: var(--dark-blue);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.why-we .features {
    list-style-type: none;
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}
.why-we .features li {
    margin-right: 30px;
}
.why-we .features li:last-child {
    margin-right: 0;
}

.why-we div {
    padding: 0 10px;
}

.why-we h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--darkgrey);
}

.why-we p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--lightgrey)
}

.what-we-do {
    width: 1170px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
}
.sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkgrey)
}
.what-we-do ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.team-wrap {
    background-color: #F5F4FA;
}
.team {
    width: 1170px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.team-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.team .member {
    width: 260px;
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .member img{
    width: 100%;
}
.team .vacancy {
    font-weight: 400;
    font-size: 16px;
    line-height: var(--primary-line-height);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--lightgrey);
}
footer {
    background-color: var(--primary-backgraund);
    padding: 50px 0;
    color: var(--white);
}

footer .logo {
    width: 1170px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
footer address {
    font-style: normal;
    width: 1170px;
    margin: auto;
    font-size: 14px;
}
footer .address {
    font-style: normal;
    color: var(--white);
}
.navbar li a:hover 
{
    color: var(--blue);
}

footer ul {
    padding-left: 0;
    list-style-type: none;
}
/* portfolio - page*/

.tab-list {
    list-style-type: none;
    text-align: center;
    margin-top: 95px;
}
.tab-list li {
    display: inline-block;
}
.tab-list li button {
    font-family: 'Roboto';
    background: var(--secondary-backgraund);
    border-radius: 4px; 
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    height: 38px;
    padding: 0 20px;
    color: var(--darkgrey);
    cursor: pointer;
}
.tab-list li button.active, .tab-list li button:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}
.projects-wrap {
    width: 1170px;
    margin: auto;
    margin-bottom: 80px;
}
.projects {
    list-style-type: none;
    margin-left: -19px;
    margin-right: -19px;
    padding: 0;
}
.projects li {
    border: solid 1px var(--grey);
    width: 370px;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px;
}
.projects li .description {
    padding: 20px 24px;
}
.projects li h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--darkgrey);
    margin: 0;
}
.projects li p {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--lightgrey);
}
