:root {
    --white: #FFFFFF; 
    --secondary-backgraund: #F5F4FA;
    --separator:#ECECEC;
    --grey:#EEEEEE;
    --logo:#4d5ae5;
    --black: #000000; 
    --blue: #2196F3;
    --dark-blue: #188CE8;
    --studio: #2e2f42;
    --darkgrey: #212121; 
    --lightgrey: #757575;
    --primary-backgraund: #2F303A;
    --body: #434455; 
    --CLOUD:#F4F4FD;
    --hover-focus: #404bbf;
    --primary-line-height: 1.19;
    --title-header: #e7e9fc;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--body);
    line-height: var(--primary-line-height);
    background-color: var(--white);
}
a.logo:focus {
    outline: solid var(--blue);
}
header {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--logo);
    vertical-align: middle;
    letter-spacing: 0.03em;
    margin-right: 76px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    display: flex;
    gap: 24px; 
}
.primary-color {
    color: var(--studio);
}
.link:focus, .link:hover {
    color: var(--hover-focus);
}
.header-contacts {
    font-style: normal;
}
.navbar a, .contacts a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--studio);
    text-decoration: none;
    margin-right: 50px;
}
.active {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--CLOUD);
}
.navbar {
    color: var(--blue);
    gap: 40px;
}
.navbar li:last-child a {
    margin-right: 0;
}
header .contacts a:hover {
    color: var(--blue);
}
.header-contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body);
}
.mr-50 {
    margin-right: 50px;
}
.mr-15 {
    margin-right: 15px;
}
.white {
    color: var(--CLOUD);
}
header ul {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}

header ul li {
    display: inline-block;
}
main {
    border-top:solid 1px var(--separator);
}
.full-width {
    background-color: var(--studio);
    text-align: center;
    color: var(--white);
    padding-top: 200px;
    padding-bottom: 200px;
    padding: 188px 0;
}

.full-width .main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.main-title {
    max-width: 496px;
}
.full-width .order-service {
    font-size: 16px;
    cursor: pointer;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--logo);
}
.full-width .order-service:hover, .full-width .order-service:focus {
    background-color: var(--hover-focus);
}
.order-service {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.why-we {
    padding: 120px 0;
}
.why-we .features {
    list-style-type: none;
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}
.why-we .features li {
    margin-right: 30px;
}
.why-we .features li:last-child {
    margin-right: 0;
}
.why-we div {
    padding: 0 10px;
}
.why-we-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--studio);
    margin-bottom: 8px;
}
.why-we p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body)
}

.what-we-do {
    width: 1170px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 120px;
}
.what-we-do .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
}
.sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--studio);
    margin-bottom: 8px;
}
.projects .arr {
    line-height: 1.5;
}
.what-we-do ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.team-wrap {
    background-color: var(--CLOUD);
}
.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--studio);
    margin-bottom: 72px;
}
.title-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--studio);
}
.position {
    letter-spacing: 0.02em;
    color: var(--body);
    line-height: 1.5;
}
img {
    display: block;
}
.team {
    width: 1170px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.team-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.member {
    background-color: var(--white);
}

.team .member img{
    width: 100%;
}
.vacancy {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body);
    text-align: center;
}
footer {
    background-color: var(--studio);
    padding: 50px 0;
    padding: 100px 0;
}

footer .logo {
    width: 1170px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
footer address {
    font-style: normal;
    width: 1170px;
    margin: auto;
    font-size: 14px;
}
footer .address {
    font-style: normal;
    color: var(--white);
}
footer ul {
    padding-left: 0;
    list-style-type: none;
}
.class-footer {
    background-color: var(--studio);
}
/* portfolio - page*/

.tab-list {
    list-style-type: none;
    text-align: center;
    margin-top: 95px;
}
.tab-list li {
    display: inline-block;
}
.tab-list li button {
    font-family: 'Roboto' sans-serif;
    border-radius: 4px; 
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    height: 38px;
    padding: 0 20px;
    color: var(--logo);
    cursor: pointer;
    background-color: var(--CLOUD);
}
.tab-list button:hover, .tab-list button:focus {
    color: var(--white);
    background-color: var(--hover-focus);
}
.projects-wrap {
    width: 1170px;
    margin: auto;
    margin-bottom: 80px;
}
.projects {
    list-style-type: none;
    margin-left: -19px;
    margin-right: -19px;
    padding: 0;
}
.projects li {
    border: solid 1px var(--grey);
    width: 370px;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px;
}
.projects li .description {
    padding: 20px 24px;
}
.title-header {
    border-bottom: 1px solid var(--title-header);
}
.div-title-header {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.left-logo {
    align-items: center;
    display: flex;
}
.navbar-studio {
    padding: 24px 0;
}
.features {
    gap: 24px;
}
.team-wrap {
    padding: 120px 0;
}
.personnel {
    padding: 32px 16px;
}
.title-footer {
    max-width: 264px;
}